@keyframes slider {

    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;

    }

    50% {
        left: -200%;

    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;

    }

}

#slider {
    overflow: hidden;
}

#slider figure img {
    width: 20%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 10s slider infinite;

}

ul {
    border-bottom: 1px solid #ccc;
    list-style: none;
    margin: 0 0 1.5rem 0;
    padding: 0;
}

li {
    background-image: linear-gradient(to bottom, transparent 50%, #a2d39c 50%, #a2d39c 95%, #7cc576 95%);
    background-size: 100% 200%;
    background-position: top center;
    color: #666;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: all .25s ease-in-out;
}

li:hover {
    background-position: bottom center;
    color: rgba(0, 0, 0, 0.75);
}

li a {
    color: #666;
    display: block;
    padding: 1rem 0;
    transition: all .25s ease-in-out;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
}

nav ul a {
    padding: 1rem 2rem;
}







